@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(25, 6, 31);
    color:rgb(216, 130, 238);
}

#logo {
    font-family: 'Fleur De Leah', cursive;
    text-shadow: 1px 1px 1px plum;
    font-size: 3rem;
    cursor: pointer;
    margin-left: 2rem;
}

#logo-left {
    color:rgb(240, 71, 231);
    margin-right: 1rem;
}

#logo-right {
    color: rgb(176, 83, 243);
}

input {
    border: 2px solid rgb(216, 130, 238);
}

#search-icon {
    margin-bottom: -8px;
    margin-left: 2px;
    padding: 5px;
    cursor: pointer;
}

#search-icon:hover {
    color: lightpink;
    border-radius: 10%;
    padding: 5px;
    box-shadow: 1px 1px 0.5px 1.5px lightpink; 
    margin-bottom: -8px;
    margin-left: 2px;
}

ul {
    list-style: none;
    display: flex;
    font-weight: bold;
    margin-right: 2rem;
}

li {
    margin: 0 7px;
    font-size: 1.1rem;
    padding: 7px;
    cursor: pointer;
}

li:hover {
    color: lightpink;
    border-radius: 10%;
    padding: 7px;
    box-shadow: 1px 1px 0.5px 1.5px lightpink;
}

.mob-menu-icon {
    display: none;
    height: 28px;
    width: 28px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .mob-menu-icon {
        display: flex;
        margin-right: 2rem;
    }

    #close-menu {
        display: none;
    }

    .nav-options {
        position: relative;
        flex-direction: column;
    }

    ul {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: rgba(25, 6, 31, 0.9);
        text-align: left;
        margin-left: -5rem;
    }

    li:hover{
        box-shadow: none;
    }
    
}

@media screen and (max-width: 560px) {
    nav {
        flex-direction: column;
        height: 100%;
    }

    .search,
    #logo,
    .nav-options {
        margin: 1rem auto;
    }

    ul {
        width: 10rem;
    }
}

@media screen and (max-width: 270px) {
    #logo {
        font-size: 2.5rem;
    }    
}